<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/swal.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Todo App</title>
</head>

<body>
    <div class="sidebar" id="sidebar">
        <!-- <h2 onclick="location.href = '/'">Todo App</h2> -->
        <a style="color: inherit" href="/"><h2>Todo App</h2></a>
        <i class="fa fa-bars toggle-sidebar" onclick="toggleSidebar()"></i>
        <ul>
            <li class="sidebar-menu <%= page === 'dashboard' ? 'active' : '' %>"><a href="/"><i class="fa fa-dashboard"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
            <li class="sidebar-menu border-top <%= page === 'todo' ? 'active' : '' %>"><a href="/todo"><i class="fa fa-list"></i><span>&nbsp;&nbsp;&nbsp;Todo Items</span></a></li>
        </ul>
    </div>

    <div class="main-content" id="main-content">
