<div class="modal" id="todo-item-detail-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td><strong>Date</strong></td>
                            <td><span id="todo-item-detail-modal-date-text"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Time</strong></td>
                            <td><span id="todo-item-detail-modal-time-text"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><span id="todo-item-detail-modal-name-text"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Short Description</strong></td>
                            <td><span id="todo-item-detail-modal-short-description-text"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td><span id="todo-item-detail-modal-status-text"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>