<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App : Error</title>
</head>
<body>
    <h1>Oops! An error occurred.</h1>
    <p><strong>Error message:</strong> <%= error.message %></p>
    <% if(!!error.linkRef) { %> <p><a target="_blank" href="<%= error.linkRef %>">Click here for reference (docs)</a></p> <%} %>
    
</body>
</html>